extends ../layout 

block content 
    h3 #{title}
    h5.investor_id 投资人ID： #{investor_id}
    h5.creator_id 策略创建人ID：#{creator_id}
    p 本次交易合作由共享策略提供撮合服务。在共享策略的撮合下，投资人与策略创建人协商一致，就双方秉承共享收益共担风险之原则，由策略创建人提供交易策略，由投资人利用自有资金和账户进行交易合作事宜订立如下协议，以兹共守：
    h5 一、定义
    p 本协议中，除非上下文另有解释，下列词语具有如下含义：
    p 1、共享策略：指北京易财通瑞科技有限公司运营的金融信息服务平台，面向共享策略用户提供包括但不限于沪深所A股交易合作信息发布、交易合作撮合、交易指令通讯、交易风控管理、交易清结算、资金支付（由支付机构提供）等服务的线上中介服务平台。该平台网址为：
    a(href="https://www.51tongcai.com/policy/client/") https://www.51tongcai.com/policy/client/，
    span 及本公司根据业务需要不时修改的网址。
    p 2、支付机构：指共享策略委托的为共享策略用户提供资金划转、查询、结算等支付服务的非金融支付机构。本协议项下提供上述服务的机构为连连银通电子支付有限公司（以下简称“连连支付”）。
    p 3、连连支付账户：指连连支付旗下的面向证券金融互联网交易平台用户提供第三方交易资金结算服务的专项账户。（以下简称“连连支付”）。
    p 4、策略创建人：指通过共享策略注册成为策略创建人的用户，作为投资人的交易合作方，负责向投资人提供交易策略的自然人。
    p 5、投资人：指给策略创建人的交易策略提供资金的出资人，作为策略创建人的交易合作方，负责按策略创建人交易策略并利用自有资金和账户进行交易的自然人或法人。
    p 6、策略创建：指策略创建人向投资人发出创建策略指令。创建策略指令为即时买入。即时买入指策略创建人要求投资人在收到交易指令所在时点起，即时以委托价+委托价*1%委托买入指定数量的交易品种。
    p 7、平仓：指策略创建人向投资人发出平仓指令。平仓指令为即时卖出。即时卖出为策略创建人要求投资人在收到交易指令所在时点起，即时以跌停价委托卖出全部数量的交易品种。
    p 8、持仓时间：从T＋1日开始，至T＋5日止，策略创建人可于当日规定时间内，向投资人申请将交易品种持仓时间递延至下一交易日。递延按日申请逐日递延，单笔交易连续递延次数上限为5次。
    p 9、最后持仓日：最后持仓日为策略创建人放弃递延所在交易日，或已达到最大递延申请次数无法再递延的所在交易日即T＋6日。
    p 10、执行盈亏：执行盈亏＝（卖出均价－买入均价）* 成交数量。计算结果为正值（含零）时即为盈利，计算结果为负值时即为亏损。
    p 11、止盈价格：当合作交易品种的市场价格达到特定数值时，由投资人即时卖出交易品种全部持有数量进行止盈，此时该市场价格即为止盈价格。
    p 12、止损价格：当合作交易品种的市场价格达到特定数值时，由投资人即时卖出交易品种全部持有数量进行止损，此时该市场价格即为止损价格。
    h5 二、本次交易合作基本信息
    .info
        p.name 1、交易品种：#{name}
        p.num 2、买入数量：#{num}
        p.money 3、买入金额： #{money}
        p.bail 4、履约保证金：#{bail}
        p.max 5. 止盈线：#{max}
        p.min 6. 止损线：#{min} 
    h5 三、投资人权利与义务
    p 1、投资人负责提供用于本次交易合作的账户和资金。
    p 2、投资人承担本次交易产生的佣金、印花税和过户费。
    p 3、投资人按照策略创建人的创建策略指令/平仓指令执行交易品种的买入/卖出。
    p 4、投资人买入交易品种的时间为T日9:30:00-11:30,13:00-14:50:00。
    p 5、投资人卖出交易品种的时间为最后持仓日的开盘时间点到创建策略时相对应的买入时点。
    p 6、最后持仓日盘中，当交易品种的市场价格触发止盈止损价格时，视同策略创建人已向投资人发出即时卖出指令，投资人执行即时卖出指令的，策略创建人对此不持有异议。
    p 7、策略创建人必须在最后持仓日的创建策略时相对应的买入时点前向投资人发出平仓指令，否则视同策略创建人违约，投资人有权在此后任意交易时间卖出并以实际卖出成交价结算，策略创建人对此不持有异议。
    p 8、投资人应委托连连支付系统冻结履约保证金，并授权连连支付系统在交易盈利时按本协议相关约定，从冻结的履约保证金中支付策略创建人盈利分配款。
    p 9、交易亏损大于策略创建人冻结履约保证金，则超过的亏损部分由投资人自行承担。
    p 10、投资人有义务履行交易合作约定，如发生投资人单方面违约行为，双方约定按理论上持有交易品种到最后持仓日期间的最优价格作为策略创建人卖出结算价，如交易盈利从投资人连连支付账户划拨盈利分配，如交易亏损则由投资人自行全部承担，策略创建人不予赔付。
    h5 四、策略创建人权利与义务
    p 1、策略创建人负责提供本次交易合作的交易策略，即创建策略指令/平仓指令。
    p 2、策略创建人应在最后持仓日的创建策略时相对应的买入时点前向投资人发出平仓指令，否则视同策略创建人违约。
    p 3、从T＋1日开始，至T＋5日止，凡当日强制平仓前的任一时点，策略创建人可通过共享策略向投资人申请将交易品种持仓时间递延至下一交易日，递延成功后即扣除相应的递延费用。
    p 4、策略创建人应按照共享策略策略创建人参与沪深A股交易涉及费用及资费标准，通过向共享策略支付交易综合费，补偿投资人交易过程中发生的佣金、印花税和过户费等。
    p 5、策略创建人应按照共享策略策略创建人参与沪深A股交易涉及费用及资费标准，委托连连支付冻结履约保证金，作为履行交易亏损赔付义务的保证。
    p 6、策略创建人应授权连连支付系统在交易亏损时按本协议相关约定，从冻结的履约保证金中向投资人支付应承担的亏损赔付款。
    p 7、策略创建人以其所冻结的履约保证金为最高限额承担交易亏损赔付。如交易亏损大于策略创建人冻结履约保证金数额，超过部分策略创建人无需承担。
    h5 五、交易清结算和盈亏分配约定
    p 投资人和策略创建人共同委托共享策略按照以下规则对本次交易合作进行清结算，双方同意以共享策略的清结算数据作为双方盈亏分配的共同依据：
    p 1、买入成交金额与买入成交均价：买入成交金额来自交易所回报数据，不含佣金、印花税和过户费。买入成交均价＝买入成交金额/交易数量。
    p 2、卖出成交金额与卖出成交均价：卖出成交金额来自交易所回报数据，不含佣金、印花税和过户费。卖出成交均价＝卖出成交金额/交易数量。
    p 3、交易盈亏：交易盈亏＝卖出成交金额－买入成交金额。计算结果为正值（含零）时即为交易盈利，计算结果为负值时即为交易亏损。
    p 4、盈利分配：策略创建人与投资人共同享有本次交易盈利。策略创建人盈利分配为交易盈利的90％，投资人享有交易盈利的10％。
    p 5、亏损赔付：策略创建人与投资人共同承担本次交易亏损。交易亏损首先由策略创建人承担，策略创建人以所冻结的履约保证金为最高上限承担交易亏损赔付，交易亏损超过策略创建人所冻结的履约保证金部分由投资人承担。即，当：交易亏损≤策略创建人冻结履约保证金时，交易亏损由策略创建人全部承担，投资人无需承担；当：交易亏损＞策略创建人冻结履约保证金时，策略创建人以冻结履约保证金额为限承担交易亏损，超过部分由投资人承担。
    h5 六、特别约定
    p 1、交易品种在最后持仓日因停牌、跌停或其他原因导致无法卖出的，双方约定由投资人于下一交易日即时卖出全部数量的交易品种，如整个交易日皆因停牌或跌停无法卖出，则继续顺延至下一交易日，直至全部卖出并按照实际卖出成交价进行清结算。
    p 2、策略创建人在分红转增股权登记日收盘后仍持有交易品种的，双方约定于送转股票及派发红利实际到达投资人账户后方进行结算；策略创建人在增发、配股股权登记日收盘后仍持有交易品种的，交易品种的增发、配股等权利均归属投资人，策略创建人不享有参与增发、配股权利。
    p 3、双方授权连连支付系统依据共享策略的清结算数据，通过双方在连连支付系统冻结的履约保证金进行盈利分配款或亏损赔付款的划拨。即：交易盈利时，从投资人履约保证金中划款至策略创建人连连支付，划拨金额等于策略创建人享有的盈利分配额；交易亏损时，从策略创建人履约保证金中划款至投资人连连支付，划拨金额等于策略创建人承担的亏损赔付额。
    p 4、因共享策略清结算数据错误造成双方盈利分配或亏损赔付出现数额差错的，双方约定在共享策略规定时限内将异议提交至共享策略，通过共享策略向对方索取差额补差。如异议一方未在规定时限内将提交异议，视同放弃通过共享策略向对方索取差额补差之权利。
    p 5、因不可抗力导致共享策略系统故障，引发交易指令通讯失败或交易指令执行失败，双方约定以共享策略系统恢复就近时间重新执行并以执行的最终结果进行交易清结算。
    h5 七、协议的签订、成立和生效
    p 1、签订：本协议由投资人和策略创建人通过共享策略以网络页面点击确认的方式签署。
    p 2、成立：本协议自策略创建人或投资人签订本协议之日（以两者孰后签订时间为准）成立。
    p 3、生效：本协议一经双方签订即生效。
    h5 八、其他事项
    p 1、策略创建人和投资人必须通过本协议约定的方式或其他共享策略认可的方式进行交易合作,否则由此引起的法律后果及违约责任由投资人或策略创建人自行承担。
    p 2、本协议项下的双方非个人隐私信息，均为公开信息。
    p 3、本协议项下双方交易信息归属共享策略所有，共享策略可根据自身经营需求商业化无偿使用。
    p 4、本协议受中华人民共和国法律管辖并按中华人民共和国法律解释。协议履行中发生争议，可由各方协商解决，协商不成可向北京市仲裁委员会提请仲裁。